<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-sm-8 col-lg-4">
    <h3 class="mb-3">
      Cập nhật Khoá học
    </h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
      <div class="form-group">
        {{! name }}
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Enter name"
          value="{{course.name}}"
        />
      </div>
      {{! description }}
      <div class="form-group">
        <textarea name="description" class="form-control" placeholder="Enter description">{{course.description}}</textarea>
      </div>
      {{! thumnail }}
      <div class="form-group">
        <input
          type="url"
          name="thumnail"
          class="form-control"
          placeholder="Enter thumnail URL"
          value="{{course.thumnail}}"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Update
      </button>
    </form>
  </div>
</div>