<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-sm-8 col-lg-4">
    <h3 class="mb-3">Create Course</h3>
    <form method="POST" action="/courses/store">
      <div class="form-group">
        {{! name }}
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Enter name"
        />
      </div>
      {{! description }}
      <div class="form-group">
      <div class="form-group">
        <textarea
          name="description"
          class="form-control"
          placeholder="Enter description"
        ></textarea>
      </div>
      </div>
      {{! thumbnail }}
      <div class="form-group">
        <input
          type="url"
          name="thumbnail"
          class="form-control"
          placeholder="Enter thumbnail URL"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Add
      </button>
    </form>
  </div>
</div>