@import 'var';

.navbar {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn {
  cursor: pointer;
}

.btn:disabled {
  cursor: default;
}

input[type='checkbox'] {
  cursor: pointer;
}

.icon {
  margin: 10px 0;
  cursor: pointer;
}

.fa-pen,
.fa-undo {
  color: #2a86ff;
}

.fa-pen:hover,
.fa-undo:hover {
  color: #3779d0;
}

.fa-trash-alt {
  color: rgba(255, 0, 0, 0.9);
}

.fa-trash-alt:hover {
  color: rgb(218, 18, 18);
}
